.table{
    text-align: center;
}

.table-content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.table-users {
    width: 65%;
}

.table-price-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-price-input {
    max-width: 2rem;
}